<?xml version="1.0"?>
<!--
/**
 * Vishal_Designer extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category  Sample
 * @package   Vishal_Designer
 * @copyright 2017 Vishal Gelani
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 * @author    Vishal Gelani
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<virtualType name="Vishal\Designer\Model\Resource\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vishal_designer_post</argument>
            <argument name="resourceModel" xsi:type="string">Vishal\Designer\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="designer_post_listing_data_source" xsi:type="string">Vishal\Designer\Model\Resource\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>-->

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="designer_post_listing_data_source" xsi:type="string">Vishal\Designer\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Vishal\Designer\Model\ResourceModel\Post\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">vishal_designer_post</argument>
            <argument name="eventPrefix" xsi:type="string">vishal_designer_post_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">post_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Vishal\Designer\Model\ResourceModel\Post</argument>
        </arguments>
    </type>

    <virtualType name="Vishal\Designer\Model\Resource\Category\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vishal_designer_category</argument>
            <argument name="resourceModel" xsi:type="string">Vishal\Designer\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="designer_category_listing_data_source" xsi:type="string">Vishal\Designer\Model\Resource\Category\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Vishal\Designer\ImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">designer/tmp</argument>
            <argument name="basePath" xsi:type="string">designer</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Vishal\Designer\Controller\Adminhtml\Post\Upload\FeaturedImg">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Vishal\Designer\ImageUpload</argument>
        </arguments>
    </type>
    <type name="Vishal\Designer\Controller\Adminhtml\Post\Upload\OgImg">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Vishal\Designer\ImageUpload</argument>
        </arguments>
    </type>
    <type name="Vishal\Designer\Controller\Adminhtml\Post\Upload\Gallery">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Vishal\Designer\ImageUpload</argument>
        </arguments>
    </type>
</config>